.footer {
    width: 100%;
    padding: 20px 40px;
    background: var(--color-white);

    flex-wrap: wrap;
    overflow: hidden;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--cormorant);
    text-transform: uppercase;
    color: var(--secondary);

    cursor: pointer;
}

.footer__logo span {
    color: var(--primary);
}

.footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
}

.footer ul:last-child {
    gap: 32px;
}

.footer__nav li {
    font-size: 16px;
    font-weight: 500px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary);

    cursor: pointer;
}

.footer__socials li {
    width: 42px;
    height: 42px;

    background-color: var(--secondary);
    border-radius: 100%;
}

.footer__socials li img {
    width: 45%;
    height: 45%;

    object-fit: contain;
}